.cactus-dashboard-main_container {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  height: 100vh;
  overflow: hidden;
}

.cactus-dashboard-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background-color: #faf6ee;
}

.cactus-dashboard-banner_top_view {
  padding: 2rem 8rem 5rem 5rem;
  background: #faf6ee;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  /* alig/n-items: ; */
  padding-bottom: 0;
}

.cactus-dashboard-banner_text_view {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.cactus-dashboard-banner_text_view h5 {
  font-family: "K2D";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #333333;
}

.cactus-dashboard-banner_text_view h1 {
  font-family: "K2D";
  font-weight: 700;
  font-size: 5.4rem;
  line-height: 6.3rem;
  padding-bottom: 3rem;
  color: #333333;
}

.cactus-dashboard-banner_buttons_view {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.cactus-dashboard-banner_see_more_view {
  display: flex;
  width: 17rem;
  height: 5.4rem;
  align-items: center;
  justify-content: center;
  background: #333333;
  border-radius: 0.4rem;
  margin-right: 5rem;
  cursor: pointer;
}

.cactus-dashboard-banner_see_more_view h2 {
  font-family: "K2D";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #ffffff;
}

.cactus-dashboard-banner_contact_button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17rem;
  height: 5.4rem;
  border: 0.84px solid #2b453e;
  border-radius: 4.2px;
  cursor: pointer;
}

.cactus-dashboard-banner_contact_button h3 {
  font-family: "K2D";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-align: center;
  text-transform: capitalize;
  color: #2b453e;
}

.cactus-dashboard-banner_counter_top_view {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cactus-dasboard-banner_counter_view {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5rem;
}

.cactus-dasboard-banner_counter_view h4 {
  font-family: "K2D";
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.2rem;
  color: #2b453e;
  padding-bottom: 1rem;
}

.cactus-dasboard-banner_counter_view h6 {
  font-family: "K2D";
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: #333333;
}

.cactus-dashboard-banner_image_view {
  display: flex;
  flex: 1;

  justify-content: flex-end;
}

.cactus-dashboard-banner_image_view img {
  object-fit: contain;
  width: 55%;
  height: 93%;
  /* border-radius: 5rem; */
}

.cactus-prouct-container {
  display: flex;
}

.cactus-prouct-to-container {
  display: flex;
  align-items: center;
}

.cactus-category-container {
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
}

.cactus-product-category {
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  width: 13rem;

  border-bottom: rgba(102,102,102, 0.2);
  border-bottom-style: dotted;
  padding-bottom: 10px;
}

.cactus-product-category > p {
  width: 20px;
  text-align: start;
  white-space: nowrap;
  font-family: 'K2D';
  font-size: 19px;
}

.cactus-product-category > img {
  height: 26px;
  cursor: pointer;
}

.cactus-prouct-to-container > button {
  width: 60px;
  height: 32px;
  border-radius: 5px;
  background-color: #2b453e;
  color: white;
  cursor: pointer;
  font-family: 'K2D';
  margin-left: 10px;

  border-color: #2b453e;
  outline: none;
}

.cactus-prouct-main-container {
  margin-left: 2rem;
  /* max-width: 230px; */
}

.cactus-prouct-main-container > p {
  font-family: 'K2D';
  font-size: 13px;
}

.cactus-prouct-main-container > h2 {
  font-size: 24px;
  /* width: 28rem; */
  margin-bottom: 5rem;
}

.cactus-prouct-main-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cactus-prouct-main-container > p {
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cactus-prouct-container {
  background: white;
  font-family: 'K2D';
}

.cactus-product-min-max-container {
  width: 22rem;
}

.cactus-product-min-max-container > p {
  margin-right: -5px;
  margin-top: 15px;
  margin-bottom: 15px;

  font-size: 12px;
}

.cactus-dashboard-templete_top_view {
  display: flex;
  background-color: white;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 0.6rem;
  padding-bottom: 9rem;
  padding-left: 1rem;
  justify-content: center;
}

.cactus-dashboard-about_us_top_view {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13rem 8.6rem;
  background-color: #ffffff;
}

.cactus-dashboard-about_us_main_image {
  display: flex;
  width: 50%;
  height: 100%;
  margin-right: 5rem;
}

.cactus-dashboard-about_us_main_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cactus-dashboard-about_us_detail_view {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.cactus-dashboard-about_us_detail_view h2 {
  font-family: "K2D";
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #2b453e;
  padding-bottom: 1.3rem;
}

.cactus-dashboard-about_us_detail_view h1 {
  font-family: "K2D";
  font-weight: 600;
  font-size: 4rem;
  line-height: 6rem;
  padding-bottom: 2.4rem;
  color: #333333;
}

.cactus-dashboard-about_us_detail_view h3 {
  font-family: "K2D";
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.4rem;
  color: #333333;
  padding-bottom: 4.8rem;
}

.cactus-dashboard-about_us_detail_view h4 {
  font-family: "K2D";
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
  color: #666666;
  padding-bottom: 6rem;
}

.alignSelf {
  align-self: flex-start;
}

.cactus-dashboard-contact_us_form_button_view-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.cactus-dashboard-contact_us_form_button_view-shape img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  margin-right: 10rem;
}

.template-pagination {
  display: flex;
  justify-content: center;
  background-color: white;
}

.template-pagination > p {
  margin: 1rem;
  cursor: pointer;
}

.cactus-product-min-max-container {
  display: flex;
  flex-direction: column;

  font-family: 'K2D';
}

@media screen and (max-width: 950px) {
  .cactus-dashboard-banner_image_view img {
    background-image: url('.././../assets/home-image2-responsive.png') !important;
    object-fit: contain;
    width: 37rem;
    height: 37rem;
  }
  .cactus-dashboard-banner_top_view {
    padding: 7.6rem 5rem 2rem 5rem;
  }
  .cactus-dashboard-banner_text_view h1 {
    line-height: 6.3rem;
  }
  .cactus-dashboard-contact_us_form_view {
    margin-left: 0rem;
    margin-top: 3rem;
  }
  .cactus-dashboard-about_us_detail_view h1 {
    font-size: 3rem;
    padding-bottom: 0;
    line-height: 4rem;
  }
  .cactus-dashboard-about_us_detail_view h4 {
    line-height: 2.6rem;
  }
}

@media screen and (max-width: 750px) {
  .cactus-dashboard-banner_text_view h5 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .cactus-dashboard-banner_text_view h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
    padding-bottom: 1rem;
  }
  .cactus-dashboard-banner_top_view {
    justify-content: center;
    flex-wrap: wrap;
  }
  .cactus-dashboard-banner_image_view img {
    width: 33rem;
    height: 33rem;
  }
  .cactus-dashboard-banner_image_view {
    justify-content: center;
    margin-top: 3rem;
  }
  .cactus-dashboard-templete_top_view {
    padding-left: 0;
  }
}

@media screen and (max-width: 717px) {
  .cactus-dashboard-banner_text_view {
    width: 100%;
  }
  .cactus-dashboard-banner_see_more_view {
    width: 10rem;
    height: 3.6rem;
  }
  .cactus-dashboard-banner_see_more_view h2 {
    font-size: 1.2rem;
  }
  .cactus-dashboard-banner_contact_button {
    width: 10rem;
    height: 3.6rem;
  }
  .cactus-dashboard-banner_contact_button h3 {
    font-size: 1.2rem;
  }
  .cactus-dasboard-banner_counter_view h4 {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
  .cactus-dasboard-banner_counter_view h6 {
    font-size: 1.8rem;
  }
  .cactus-dashboard-slider_title_view h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .cactus-dashboard-slider_title_view h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .cactus-dashboard-slider_arrow_image img {
    width: 2.2rem;
    height: 2.2rem;
    margin-left: 3.4rem;
  }
  .cactus-dashboard-slider_templete_view img {
    width: 6rem;
    height: 6rem;
  }
  .cactus-dashboard-slider_templete_view h2 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .cactus-dashboard-about_us_top_view {
    padding: 2rem;
  }
  .cactus-dashboard-about_us_top_view h2 {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .cactus-dashboard-about_us_detail_view h1 {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  .cactus-dashboard-about_us_detail_view h3 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding-bottom: 2.2rem;
  }
  .cactus-dashboard-about_us_detail_view h4 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding-bottom: 2.2rem;
  }
  .cactus-dashboard-about_us_detail_view {
    width: 50%;
  }
  .cactus-dashboard-contact_us_form_button_view {
    width: 12rem;
    height: 4rem;
  }
  .cactus-dashboard-contact_us_form_button_view h6 {
    font-size: 1.4rem;
  }
  .cactus-dashboard-templete_view {
    width: unset;
  }
  .cactus-dashboard-templete_image_view img {
    width: 20.3rem;
    height: 26rem;
  }
  .cactus-dashboard-templete_view {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 520px) {

  .cactus-templete_detail_side_templetes_view {
    width: 100% !important;
  }
  .cactus-list {
    width: 70% !important;
  }

  .cactus-templete_detail_side__view_arrow_down {
    transform: rotate(0deg);
  }

  .cactus-templet_detail_top_container {
    flex-direction: column-reverse;
  }

  .cactus-product-category {
    border-style: none;
    padding: 0;
    margin-top: 8px;
  }

  .cactus-prouct-main-container {
    border-radius: 10px;
    background-color: #fbfcfd;
    margin-left: unset;
    padding: 10px;
    margin: 5px
  }

  .cactus-product-min-max-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .cactus-product-min-max-container > input {
    width: 40%;
  }

  .cactus-product-min-max-container > p {
    margin: 0;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .cactus-dashboard-slider_top_view {
    padding: 2rem 1rem 2rem 1rem;
  }
  .cactus-dashboard-slider_arrow_image img {
    margin-left: 2.2rem;
  }
  .cactus-dashboard-slider_templete_view {
    margin-left: 1.6rem;
  }
}

@media screen and (max-width: 520px) {
  .pricing-main-component {
    flex-direction: column;
    align-items: flex-start;
  }
  #pricing-main-component-h3 {
    font-size: 16px !important;
    white-space: nowrap;
    margin-bottom: 1rem !important;
    padding-bottom: 0;
  }
  #pricing-main-component-text-container > * {
    font-size: 25px;
  }
  .cactus-dashboard-banner_top_view {
    padding-top: 3rem;
  }
  .cactus-prouct-container {
    flex-direction: column;
  }
  .cactus-dashboard-templete_title_view {
    padding: 0;
    justify-content: center;
  }
  .cactus-dashboard-templete_image_view {
    margin: unset;
    margin-bottom: 1rem;
  }
  .cactus-dashboard-templete_top_view {
    justify-content: space-evenly;
    padding-bottom: 2rem;
  }
  .cactus-dashboard-templete_title_view h2 {
    max-width: 80px;
    font-size: 1.6rem;
  }
  .cactus-dashboard-templete_view h3 {
    font-size: 1.2rem;
  }
  .cactus-dashboard-templete_image_view img {
    width: unset;
    height: 17rem;
    /* height: 21rem; */
  }
  .cactus-dashboard-templete_top_view {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 390px) {
  #cactus-vertical {
    margin-right: -2rem !important;
  }
  .cactus-dashboard-templete_title_view {
    justify-content: center;
  }
  .cactus-dashboard-templete_title_view h2 {
    max-width: 12rem;
    font-size: 1.2rem;
  }
  .cactus-dashboard-templete_view h3 {
    font-size: 1rem;
  }
  .cactus-dashboard-templete_image_view img {
    width: unset;
    height: 17rem;
    /* height: 21rem; */
  }
  .cactus-dashboard-templete_title_view {
    padding: 0.2rem 0.4rem;
    justify-content: center;
  }
}
