.cactus__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem;
  background: #ffffff;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.cactus__navbar-links_logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.cactus__navbar-links_logo img {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
}

.cactus__navbar-links_logo p {
  font-family: "K2D";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #2b453e;
  margin-left: 1.5rem;
}
.cactus__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cactus_navbar-links_container {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.cactus__navbar-links_text_view {
  padding-right: 5rem;
  /* display: flex; */
}

.cactus__navbar-links_text_view h1 {
  color: #121212;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
  cursor: pointer;
  border-bottom-width: 2px;
  padding-bottom: 1.2rem;
}

.cactus__navbar-links_input_view {
  align-self: flex-start;
  /* width: 22rem; */
  height: 3.2rem;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #dddbda;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1.2rem;
}

.cactus__navbar-links_input_view input {
  border: none;
  outline: none;
  font-family: "K2D";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #706e6b;
  background-color: #fff;
}

::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "K2D";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #706e6b;
}

.cactus__navbar-links_input_view img {
  width: 1.6rem;
  height: 1.6rem;
  object-fit: cover;
  margin-left: 1rem;
}

.cactus__navbar_closeIcon {
  width: 2rem;
  height: 2rem;
}

.cactus__navbar_menuIcon {
  width: 3rem;
  height: 3rem;
}

.cactus__navbar-menu {
  margin-left: 1.6rem;
  display: none;
  position: relative;
}

.cactus__navbar-menu img {
  cursor: pointer;
}

.cactus__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  z-index: 100;
  text-align: end;
  background-color: white;
  padding: 3.2rem;
  position: absolute;
  top: 3.5rem;
  right: 0;
  margin-top: 2.4rem;
  min-width: 30rem;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.navbar-dropdown-container {
  position: relative;
}

.complete-cover {
  position: absolute;
  width: 100vw;
  height: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-dropdown {
  position: absolute;
  background-color: white;
  padding-top: 1rem;
  box-shadow: -3px 4px 5px -1px rgba(0,0,0,0.23);
  -webkit-box-shadow: -3px 4px 5px -1px rgba(0,0,0,0.23);
  -moz-box-shadow: -3px 4px 5px -1px rgba(0,0,0,0.23);
  max-height: 80vh;
  overflow-y: auto;
  margin-left: -90px;
}

.important-font-weight {
  font-weight: normal !important;
}

.cart-checkout-button {
  color: black;
  background: #ddd;
  padding: 1rem;
  border-radius: 10px;
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.cart-item-none {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.cart-item:hover {
  font-weight: bold;
  cursor: pointer;
}

.cart-item-cross {
  width: 10px;
  height: 10px;
  margin-right: 1rem;
  opacity: 0.5
}

.navbar-dropdown > p {
  width: 17rem;
  font-size: 16px;
  margin-bottom: 1.1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.navbar-dropdown > p:hover {
  font-weight: bold;
}

@media screen and (max-width: 1160px) {
  /* .cactus__navbar-links {
    display: none;
  } */

  .character-box {
    width: 22% !important;
    height: 18rem !important;
  }

  .cactus__navbar-links_input_view {
    display: none;
  }

  .cactus_navbar-links_container {
    justify-content: space-around;
    width: 80%;
  }

  .cactus__navbar-menu {
    display: none;
  }

  .cactus__navbar-links_text_view {
    padding-right: 0rem;
    padding-bottom: 1rem;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 550px) {
  .cactus__navbar {
    padding: 0rem 3rem;
  }

  .cactus__navbar-links {
    display: none;
  }

  .cactus__navbar-menu {
    display: flex;
  }

  .cactus__navbar-links_logo img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
  }

  .cactus__navbar-menu_container {
    top: 2.5rem;
    padding: 2.2rem;
    margin-top: 2.4rem;
    min-width: 20rem;
  }

  .cactus__navbar-links_text_view h1 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-bottom: 5px;
  }
}
