.cactus-templet_detail_top_container {
  display: flex;
  flex-direction: row;
  padding: 5rem;
  background-color: white;
  z-index: 100;
}

.cactus-templete_detail_side_templetes_view {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5rem;
}

.cactus-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5rem;
}

.cactus-templete_detail_side__view_arrow_up {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: cover;
  margin-bottom: 2.4rem;
  transform: rotate(90deg);
  cursor: pointer;
}

.cactus-templete_detail_side__view_arrow_down {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: cover;
  cursor: pointer;
  transform: rotate(270deg);
}

.cactus-templete_detail_side__view_image_style {
  width: 8.1rem;
  height: 9.7rem;
  object-fit: cover;
  margin-bottom: 2.4rem;
  /* cursor: pointer; */
}

.cactus-templete_detail-main_image_view {
  /* width: 61.9rem;
  height: 88rem; */
  display: flex;
  flex-direction: column;
  /* background: #eaf6ff; */
  margin-right: 7.2rem;
  padding-bottom: 5rem;
}

.cactus-templete_detail-main_image_button_view {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 2rem 5.4rem 2rem;
  width: 13.2rem;
  height: 3.9rem;
  background: #2b453e;
  border-radius: 3.98228px;
  cursor: pointer;
}

.cactus-templete_detail-main_image_button_view h5 {
  font-family: "K2D";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.3rem;
  color: #ffffff;
}

.cactus-templete_detail-main_image {
  display: flex;
  padding-left: 5rem;
  padding-right: 5rem;
}

.cactus-templete_detail-main_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cactus-templete_detail-detail_top_view {
  display: flex;
  flex-direction: column;
}

.cactus-templete_detail-detail_top_view h1 {
  font-family: "K2D";
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.2rem;
  color: #333333;
}

#overlay-title-hidden > div {
  color: white !important;
}

#overlay-subtitle-hidden > div {
  color: white !important;
}

.cactus-templete_detail-detail_top_view h2 {
  font-family: "K2D";
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #333333;
  padding-bottom: 1rem;
}

.cactus-templete_poster-desc > p {
  font-family: "K2D";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 3.2rem;
  color: #333333;
  padding-bottom: 2.2rem;
  margin-top: 8rem;
}

.overlay-logo-container {
  /* filter: invert(1); */
  /* position: absolute; */
}

.overlay-logo-template {
  z-index: 100000000;
  position: absolute;
  width: unset !important;
  height: 50% !important;
  top: 125px;
  left: 50px;
  clip-path: circle();
  background: black;
  opacity: 0.2;
  scale: .8;
  filter: invert(1);
}

#margin-none {
  margin: unset !important;
}

.cactus-templete_detail-detail_top_view h3 {
  padding-top: 1rem;
  font-family: "K2D";
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: #333333;
  padding-bottom: 2.8rem;
}

.cactus-templete_detail-form_top_view {
  margin-top: 1rem;
  padding: 3rem 2rem;
  width: 51.8rem;
  background: #f5f5f5;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.cactus-templete_detail-form_title {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.cactus-templete_detail-form_title h4 {
  font-family: "K2D";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-align: center;
  color: #121212;
}

.cactus-templete_detail-form_title h5 {
  font-family: "K2D";
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
  text-align: center;
  color: #121212;
}

.cactus-templete_detail-order_button {
  width: 25rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2b453e;
  border-radius: 1.2rem;
  cursor: pointer;
}

.cactus-templete_detail-order_button h5 {
  font-family: "K2D";
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.6rem;
  color: #ffffff;
}

.cactus-templet_detail_bottom_view {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  background-color: white;
}

.cactus-templet_detail_bottom_view h1 {
  font-family: "K2D";
  font-weight: 500;
  font-size: 4rem;
  padding-left: 5rem;
  padding-bottom: 5rem;
  line-height: 5.2rem;
  color: #333333;
}

.cactus-templete_poster-desc {
  display: flex;
  justify-content: center;
}

/* Modal CSS */

.thumbnail-container {
  position: relative;
  width: 100%;
  height: auto;
}

.add-product-modal-main-container-video{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999
}

.add-product-modal-container-product-description-detail-video{
  margin-left: 20rem;
  /* width: 800px; */
  height: 500px;
  overflow: hidden;
  word-wrap: break-word;
  background-color: #fff;
  padding: 20px; 
  border-radius: 8px; 
}

.video-model{
  height: 425px;
  width: 100%;
  overflow-y: hidden;
}

.swal-modal {
  z-index: 100000 !important;
}

/* -------------Media Query--------------- */

@media screen and (max-width: 980px) {
  .cactus-templete_detail-main_image_view {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .cactus-templet_detail_top_container {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 620px) {
  /* .cactus-templet_detail_top_container {
    justify-content: center;
    flex-wrap: wrap;
  } */
  .cactus-templete_detail-main_image_view {
    margin-right: 0;
    /* width: 100%; */
    /* height: 52rem; */
  }

  .cactus-templete_detail_side_templetes_view {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cactus-templete_detail_side__view_image_style {
    margin-right: 1rem;
  }

  .cactus-templete_detail_side__view_arrow_down {
    transform: rotate(180deg);
  }
  .cactus-templete_detail_side__view_arrow_up {
    transform: rotate(360deg);
  }
  .cactus-templete_detail-detail_top_view {
    align-items: center;
  }
}

@media screen and (max-width: 520px) {
  .add-product-modal-container-product-description-detail-video {
    margin-left: unset;
    margin: 1.5rem;
  }
  .cactus-templete_detail-form_dropdown_top_view {
    width: 30rem;
  }

  .cactus-default-select-btn {
    height: 70px;
  }

  .cactus-templete_poster-desc > p {
    width: 315px;
  }

  .cactus-templete_detail-main_image {
    margin-left: 7rem !important;
  }

  .cactus-templete_detail-main_image_button_view {
    margin: 0;
    margin-left: 7rem;
  }

  .cactus-templete_detail-form_top_view {
    width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cactus-templete_detail_side_templetes_view {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .cactus-list {
    flex-direction: row;
    margin-right: unset;
    width: 250px;
    overflow-x: scroll;
  }

  .order-buttons {
    flex-direction: column;
  }

  .order-buttons > div {
    margin-bottom: 1rem;
  }
}
