.list-group {

}

.btn-container {
    font-family: 'K2D';
    font-size: 14px;
}

.list-group-item > span {
    font-family: 'K2D';
    font-size: 18px;
}

.btn {
    border: none;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.btn-primary {
    background-color: #333333;
    color: white;
}

.btn-danger {
    background-color: red;
    color: white;
    border-radius: 10px;
}